<!--
      Slider start
      ============================== -->
<style>
    .cbtn-more-info {
        background: #ff530a none repeat scroll 0 0;
        border: 1px solid transparent;
        border-radius: 0;
        color: #fff;
        float: right;
        font-size: 16px;
        font-weight: 500;
        padding: 12px 102.5px;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
    }
</style>
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <img src="../../../Content/images/conf1.png" style="margin-bottom:10px;" class="img-responsive" />
                    <img src="../../../Content/images/conf1_2.png" style="margin-bottom:20px;" class="img-responsive" />
                    <a class="btn btn-default cbtn-more-info wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" ui-sref="about" role="button">مزيد من المعلومات</a>
                </div>
               <div class="col-md-6">
                   <img src="../../../Content/images/conf1_1.png" class="img-responsive" />
               </div>
            </div>
        </div>
    </div><!-- .container close -->
</section><!-- slider close -->
<!-- slider close -->
<!--
about-us start
============================== -->
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="Content/images/cooker-img.png" alt="cooker-img">
                    <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                        <span>د.علي سهيل تبوك</span> </br>  المدير التنفيذي <span></span>
                    </h1>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">

                        متخصصون في الدراسات و البحوث و المؤتمرات و الندوات العلمية و الدولية و الحملات التوعوية ” ، هكذا يعرف مركز الشرق الأوسط للاستشارات و الدراسات الاجتماعية نفسه باختصار في مواقع التواصل الاجتماعي ، المركز الذي أنشئ في يونيو 2012 ليتخذ من ” الإسهام في تأسيس مجتمع المعرفة عن طريق تبني إجراء مشروعات البحوث والدراسات الاجتماعية والتنموية” جزءا من رؤيته و ” أن يكون مصدر إشعاع معرفي وتنويري للمجتمع العماني لتقديم الاستشارات والدراسات بهدف تقديم حلول عملية لتنمية المجتمع من خلال بحوث علمية منهجية
                    </p>
                    <a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" ui-sref="about" role="button">مزيد من المعلومات</a>

                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #call-to-action close -->
<!--
blog start
============================ -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading">دليل <span>الندوات</span> و <span>المؤتمرات</span></h1>
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                            <div class="blog-img">
                                <img src="Content/images/blog/blog-img-1.jpg" alt="blog-img">
                            </div>
                            <div class="content-right">
                                <h3 style="font-size:14px;">ندوة ريسوت الاقتصاد والتنمية</h3>
                                <p>إن الموانئ والمناطق الصناعية والحرة من أهم  ...</p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="400ms">
                            <div class="blog-img">
                                <img src="Content/images/blog/blog-img-2.jpg" alt="blog-img">
                            </div>
                            <div class="content-right">
                                <h3 style="font-size:14px;">ندوة مجلس الشورى</h3>
                                <p>جاءت الندوة من منطلق الدور الهام والحيوي الذي ...</p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="500ms">
                            <div class="content-left">
                                <h3>ندوة الشباب وريادة الأعمال</h3>
                                <p>من أكثر القضايا التي تقلق صناع القرار والمسؤولين في السلطنة اليوم هي ...</p>
                            </div>
                            <div class="blog-img-2">
                                <img src="Content/images/blog/blog-img-3.jpg" alt="blog-img">
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="600ms">
                            <div class="content-left">
                                <h3>ندوة المسؤولية لاجتماعية</h3>
                                <p>إيمانا من المقام السامي لمولانا حضرة صاحب الجلالة السلطان قابوس ...</p>
                            </div>
                            <div class="blog-img-2">
                                <img src="Content/images/blog/blog-img-4.jpg" alt="blog-img">
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="700ms">
                            <div class="blog-img">
                                <img src="Content/images/blog/blog-img-5.jpg" alt="blog-img">
                            </div>
                            <div class="content-right">
                                <h3>ندوة مساءلة الأحداث</h3>
                                <p>بداية ﻻ ﺸﻙ ﺃﻥ ﻤﺸﻜﻠﺔ ﺠﻨﻭﺡ ﺍﻷﺤﺩﺍﺙ ﻭﻜﻴﻔﻴﺔ ﻤﻭﺍﺠﻬﺘﻬﺎ ﻤﻥ ﺃﻫﻡ ...</p>
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="800ms">
                            <div class="blog-img">
                                <img src="Content/images/blog/blog-img-6.jpg" alt="blog-img">
                            </div>
                            <div class="content-right">
                                <h3>مؤتمرالتجارة الثالث</h3>
                                <p>يأتي انعقاد هذا المؤتمر للعام الثالث على التوالي في إطار نجاحه ولله الحمد ...</p>
                            </div>
                        </li>
                    </ul>
                    <a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">مزيد من المعلومات</a>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #blog close -->
<!--
price start
============================ -->
<section id="price">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">قائمة<span>أخبار</span>  <span>الموقع</span></h1>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        متخصصون في الدراسات و البحوث و المؤتمرات و الندوات العلمية و الدولية و الحملات التوعوية
                    </p>
                    <div class="pricing-list">
                        <div class="title">
                            <h3>القائمة <span>الرئيسية</span></h3>
                        </div>
                        <ul>
                            <!--<li ng-repeat="ns in lstNewsHome" class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>{{ns.post_title}}</h2>
                                        <div class="border-bottom"></div>
                                        <span>18-19 إبريل 2017</span>
                                    </div>
                                    <p>
                                        ضمن  فعاليات الحملة الوطنية للحماية من الإبتزار الإلكتروني " معاً ضد الإبتزار الإلكتروني"  م
                                    </p>
                                </div>-->
  
                               
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>حملة أحذر تأمن</h2>
                                        <div class="border-bottom"></div>
                                        <span>10 إبريل 2017</span>
                                    </div>
                                    <p>
                                        تدشين  حملة وعي بأمن المعلومات الذي تنفذها قسم تقنية المعلومات بمحافظة الوسطى التعليمية تحت شعار
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>الحملة الوطنية للحماية من الإبتزار الإلكتروني</h2>
                                        <div class="border-bottom"></div>
                                        <span>10 إبريل 2017</span>
                                    </div>
                                    <p>
                                        برنامج الحملة الوطنية للحماية من الابتزاز الإلكتروني في مرحلتها قبل الأخيرة بولاية هيماء
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>الحملة الوطنية للحماية من الإبتزار الإلكتروني</h2>
                                        <div class="border-bottom"></div>
                                        <span>10 إبريل 2017</span>
                                    </div>
                                    <p>
                                        تستكمل الحملة الوطنية للحماية من الابتزاز الإلكتروني مسيرتها في محافظة الوسطى بولاية هيماء .
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="700ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>الحملة الوطنية للحماية من الإبتزار الإلكتروني</h2>
                                        <div class="border-bottom"></div>
                                        <span>5 إبريل 2017</span>
                                    </div>
                                    <p>
                                        شكرا بكل الكلمات لإدارة مدرسة البندر الجديد على حفاوة الضيافة والاستقبال لتقديم محاضرات حول الابتزاز الإلكتروني في ولاية جعلان بني بو علي
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="800ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>الخصوصية في هاتفك لحمايتك وحماية بياناتك ومعلوماتك</h2>
                                        <div class="border-bottom"></div>
                                        <span>7 مارس 2017</span>
                                    </div>
                                    <p>
                                        من المهم ضبط إعدادات الخصوصية في هاتفك لحمايتك وحماية بياناتك ومعلوماتك عند استخدامك لوسائل الإعلام الإجتماعي
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <a class="btn btn-default pull-right wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">المزيد من المعلومات</a>
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section>
<!-- #price close -->
<!--
subscribe start
============================ -->
<section id="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms"> إشترك <span>في</span>القائمة الأخبارية</h1>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        تأسيس مجتمع المعرفة عن طريق تبني إجراء مشروعات البحوث والدراسات الاجتماعية والتنموية
                    </p>
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Enter your email to subscribe...">
                                <div class="input-group-addon">
                                    <button class="btn btn-default" type="submit">subscribe</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #subscribe close -->
<!--
CONTACT US  start
============================= -->
<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms"> <span>إتصل بنا</span></h1>
                    <!--<h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Sign Up for <span>Email Alerts</span> </h3>-->
                    <form>
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Write your full name here...">
                        </div>
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                            <input type="text" class="form-control" placeholder="Write your email address here...">
                        </div>
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                            <textarea class="form-control" rows="3" placeholder="Write your message here..."></textarea>
                        </div>
                    </form>
                    <a class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms" href="#" role="button">إرسال الرسالة</a>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- #contact-us close -->