<style>
    .error {
        color: red;
    }

    .uib-tab a {
        border: 1px solid #000;
    }

    .sort-icon {
        font-size: 9px;
        margin-left: 5px;
    }

    th {
        cursor: pointer;
    }
</style>
<h2>إضافة مقالات للمجموعات الرئيسية</h2>

<div ng-controller="articleController">
    <div class="col-md-4 art-add-data">
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
        <div class="add-new-artgroup" ng-show="divArticleAdd">
            <h2>إضافة مجموعات إخبارية</h2>
            <form class="form-horizontal" name="postForm" ng-submit="addArticle()" novalidate>
                <!-- Post main group -->
                <!-- Adding Conditional Classes ng-class. The way it works is ng-class="{ <class-you-want> : <expression to be evaluated > }"-->
                <div class="form-group">
                    <div class="col-sm-10">
                        <select name="location" class="form-control" style="width: 220px;"
                                ng-model="postById.Location"
                                ng-options="x for x in artGroups"
                                required>
                            <option value="">--- الرجاء إختيار المجموعه ---</option>
                        </select>
                        <span ng-show="postForm.location.$error.required">الرجاء إختيار المجموعة الرئيسية</span>
                    </div>
                    <label for="inputEmail3" class="col-sm-2 control-label">المجموعة</label>

                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" ng-readonly="true" name="PostId" ng-model="postById.PostId" class="form-control" required ng-minlength="1" ng-maxlength="10">
                    </div>
                    <label for="PostId" class="col-sm-2 control-label">الرقم</label>
                    <div class="error-msgs" ng-messages="postForm.postById.PostId.$error">
                        <p ng-message="required"> رقم المقالة لا يمكن ان يكون فارغ</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" ng-readonly="true" ng-model="postById.post_title" class="form-control" id="post_title" placeholder="">
                    </div>
                    <label for="post_title" class="col-sm-2 control-label">العنوان</label>

                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" ng-model="postById.order" class="form-control" id="order" placeholder="">
                    </div>
                    <label for="order" class="col-sm-2 control-label">الترتيب</label>

                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <img src="{{postById.post_img}}" class="img-responsive" />
                    </div>
                    <label for="order" class="col-sm-2 control-label">الصورة</label>

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <!-- SUBMIT BUTTON -->
                        <!--here we disabled the submit button. We only want it disabled if our form is $invalid.-->
                        <button type="submit" class="btn btn-default" ng-disabled="postForm.$invalid">إضافة</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="edit-new-artgroup" ng-show="divArticleEdit">
            <h2>تعديل المجموعات الإخبارية</h2>
            <form class="form-horizontal" name="articleForm" ng-submit="editArticle()" novalidate>
                <!-- Post main group -->
                <!-- Adding Conditional Classes ng-class. The way it works is ng-class="{ <class-you-want> : <expression to be evaluated > }"-->
                <div class="form-group">
                    <div class="col-sm-10">
                        <select name="location" class="form-control" style="width: 220px;"
                                ng-model="showaArticleById.Location"
                                ng-options="x for x in artGroups"
                                required>
                            <option value="">--- الرجاء إختيار المجموعه ---</option>
                        </select>
                        <span ng-show="articleForm.location.$error.required">الرجاء إختيار المجموعة الرئيسية</span>
                    </div>
                    <label for="inputEmail3" class="col-sm-2 control-label">المجموعة</label>

                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" ng-readonly="true" name="PostId" ng-model="showaArticleById.PostId" class="form-control" required ng-minlength="1" ng-maxlength="10">
                    </div>
                    <label for="PostId" class="col-sm-2 control-label">الرقم</label>
                    <div class="error-msgs" ng-messages="articleForm.showaArticleById.PostId.$error">
                        <p ng-message="required"> رقم المقالة لا يمكن ان يكون فارغ</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" ng-readonly="true" ng-model="showaArticleById.post_title" class="form-control" id="post_title" placeholder="">
                    </div>
                    <label for="post_title" class="col-sm-2 control-label">العنوان</label>

                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" ng-model="showaArticleById.order" class="form-control" id="order" placeholder="">
                    </div>
                    <label for="order" class="col-sm-2 control-label">الترتيب</label>

                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <img src="{{showaArticleById.post_img}}" class="img-responsive" />
                    </div>
                    <label for="order" class="col-sm-2 control-label">الصورة</label>

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <!-- SUBMIT BUTTON -->
                        <!--here we disabled the submit button. We only want it disabled if our form is $invalid.-->
                        <button type="submit" class="btn btn-default" ng-disabled="articleForm.$invalid">إضافة التعديلات</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="col-md-7 col-md-offset-1 art-post-lst">
        <uib-tabset active="activeForm">
            <uib-tab index="0" heading="إضافة مقالة للمجموعات الإخبارية">
                <!-- get all the post which will be used inside the article groups------------------------------------------->
                <form class="form-inline">
                    <div class="form-group" style="margin-bottom:5px;margin-right:5px;">

                        <input type="text" ng-model="search" class="form-control" placeholder="بحث">
                    </div>
                </form>
                <table class="table table-bordered">
                    <tr>
                        <th>م</th>
                        <th style="width:90px;" ng-click="sort('PostId')">
                            رقم المقالة
                            <span class="glyphicon sort-icon" ng-show="sortKey=='PostId'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('post_title')">
                            عنوان المقالة
                            <span class="glyphicon sort-icon" ng-show="sortKey=='post_title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th style="width:100px;" ng-click="sort('post_adate')">
                            تاريخ المقالة
                            <span class="glyphicon sort-icon" ng-show="sortKey=='post_adate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th></th>
                    </tr>
                    <tr dir-paginate="art in postForArt |orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
                        <td>{{$index+1}}</td>
                        <td>{{art.PostId}}</td>
                        <td>{{art.post_title}}</td>
                        <td>
                            {{art.post_adate | dateFilter | date:"dd/MM/yyyy"}}
                        </td>
                        <td><input type="button" ng-click="getSelectedPost(art)" class="btn btn-default" value="إختيار" /></td>
                    </tr>

                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </uib-tab>
            <uib-tab index="1" heading="تعديل">
                <!----Get all the articles which previouslly added ------------------------------------------------------>
                <form class="form-inline">
                    <div class="form-group" style="margin-bottom:5px;margin-right:5px;">

                        <input type="text" ng-model="search" class="form-control" placeholder="بحث">
                    </div>
                </form>
                <table class="table table-bordered">
                    <tr>
                        <th>م</th>
                        <th style="width:90px;" ng-click="sort('PostId')">
                            رقم المقالة
                            <span class="glyphicon sort-icon" ng-show="sortKey=='PostId'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>

                        <th style="width:90px;" ng-click="sort('ArticleId')">
                            رقم المجموعه
                            <span class="glyphicon sort-icon" ng-show="sortKey=='ArticleId'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('post_title')">
                            عنوان المقالة
                            <span class="glyphicon sort-icon" ng-show="sortKey=='post_title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('Location'')">
                            إسم المجموعة
                            <span class="glyphicon sort-icon" ng-show="sortKey=='Location'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
<th style="width:100px;" ng-click="sort('post_adate')">
                            تاريخ المقالة
                            <span class="glyphicon sort-icon" ng-show="sortKey=='post_adate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr dir-paginate="agr in artPstGroups |orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
                        <td>{{$index+1}}</td>
                        <td>{{agr.PostId}}</td>
                        <td>{{agr.ArticleId}}</td>
                        <td>{{agr.post_title}}</td>
                        <td>{{agr.Location}}</td>
                        <td>
                            {{agr.post_adate | dateFilter | date:"dd/MM/yyyy"}}
                        </td>
                        <td><input type="button" ng-click="getSelectedArt(agr)" class="btn btn-default" value="إختيار" /></td>
                        <td><input type="button" ng-click="delSelectedArt(agr)" class="btn btn-danger" value="حذف" /></td>
                    </tr>

                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </uib-tab>
        </uib-tabset>
    </div>
</div>

