<style>
    .error-msgs {
        font-weight: bold;
        color: red;
    }

    .btnAdd {
        background: #19a6d1;
        border-radius: 5px;
        color: white;
        padding: 3px 7px;
        cursor: pointer;
    }

    .btnRed {
        background: red;
        border-radius: 5px;
        color: white;
        padding: 3px 7px;
        cursor: pointer;
    }

    .sort-icon {
        font-size: 9px;
        margin-left: 5px;
    }

    th {
        cursor: pointer;
    }
    /* this is for the conference tabs*/
    .nav-tabs > li > a {
        border: 1px solid #888 !important;
        color: #222;
    }

    .nav-tabs > li.active > a {
        /*border-bottom: 1px solid #fff !important;*/
    }

    .nav-tabs > li > a:hover {
        border: 1px solid #ccc;
    }

    .nav-tabs > li {
        float: right;
    }

    .uib-tab a {
        background-color: #E9ECE5;
    }

    .tab-content {
        background-color: #E9ECE5;
        border: 1px solid #ccc;
        padding: 10px;
    }
</style>
<div ng-controller="confController">
    <h2>قائمه المؤتمرات</h2>
    <div class="row" style="margin-top:60px;">
        <div class="col-md-9">
            <h3 style="font-weight:bold;border-bottom:1px solid #ccc;text-align:center">{{Action === "Add" ? "إضافة مؤتمر جديد" : "تعديل المؤتمر "}}</h3>
            <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
            <form id="frmConf" name="confForm" ng-submit="AddOrUpdateCon()" novalidate>
                <uib-tabset active="activeForm">
                    <uib-tab index="0" heading="المقدمة">
                        <!-- Post Title -->
                        <!-- Adding Conditional Classes ng-class. The way it works is ng-class="{ <class-you-want> : <expression to be evaluated > }"-->
                        <div class="form-group" ng-class="{ 'has-error' : confForm.cTitle.$invalid && !confForm.cTitle.$pristine }">
                            <label>عنوان المؤتمر:</label>
                            <input type="text" name="cTitle" class="form-control" ng-model="confr.cTitle" required ng-minlength="10" ng-maxlength="200">
                            <div class="error-msgs" ng-messages="confForm.cTitle.$error">
                                <p ng-message="minlength">العنوان قصير جداً</p>
                                <p ng-message="maxlength">العنوان طويل جداً</p>
                                <p ng-message="required">الرجاء كتابة عنوان للموضوع</p>
                                <!--<p ng-show="confForm.cTitle.$invalid && !confForm.cTitle.$pristine" class="help-block">الرجاء كتابة عنوان للموضوع</p>
                                <p ng-show="confForm.cTitle.$error.minlength" class="help-block">العنوان قصير جداً</p>
                                <p ng-show="confForm.cTitle.$error.maxlength" class="help-block">العنوان طويل جداً</p>-->
                            </div>
                        </div>
                        <hr />
                        <!--<div>
                            <p>This is include</p>
                            <ng-include src="'/SPA/Admin/views/partials/addFileUplad.html'"></ng-include>
                        </div>-->
                        <hr />
                        <div class="form-group">
                            <input type="radio" ng-model="confr.cstatus" name="pstatus" value="0" />
                            <span style="padding-right:10px;">
                                نشر
                            </span>

                            <br />
                            <input type="radio" ng-model="confr.cstatus" name="pstatus" value="1" />
                            <span style="padding-right:10px;">
                                مسودة
                            </span>
                            <br />
                        </div>

                        <!-- Post Details-->
                        <hr />
                        <div class="form-group">
                            <h3>مقدمة المؤتمر</h3>
                            <textarea ui-tinymce="tinymceOptions" ng-model="confr.cdetails"></textarea>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="محاور المؤتمر">
                        <div class="form-group">
                            <h3>محاور المؤتمر</h3>
                            <textarea ui-tinymce="tinymceOptions" ng-model="confr.cguidelines"></textarea>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="الجهة المنظمة للمؤتمر">
                        <div class="form-group">
                            <h3>الجهة المنظمة للمؤتمر</h3>
                            <textarea ui-tinymce="tinymceOptions" ng-model="confr.corgnizer"></textarea>
                        </div>
                    </uib-tab>
                    <uib-tab index="3" heading="المستهدفون في المؤتمر">
                        <div class="form-group">
                            <h3>المستهدفون في المؤتمر</h3>
                            <textarea ui-tinymce="tinymceOptions" ng-model="confr.cmessage"></textarea>
                        </div>
                    </uib-tab>
                    <uib-tab index="4" heading="التسهيلات">
                        <div class="form-group">
                            <h3>التسهيلات</h3>
                            <textarea ui-tinymce="tinymceOptions" ng-model="confr.cfacilities"></textarea>
                        </div>
                    </uib-tab>
                    <uib-tab index="5" heading="الصورة الرئيسية">
                        <hr />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>رابط الصورة الرئيسية:</label>
                                    <input type="text" name="post_img" ng-model="selImg.post_img" style="font-size:9px;" class="form-control">
                                </div>
                                <div class="col-md-5" style="background-color:#E9ECE5;">
                                    <img src="{{selImg.post_img}}" style="max-height:400px; padding:5px;" class="img-responsive" />
                                    <button type="button" class="btn btn-default" ng-click="open()">
                                        قائمة الصور
                                    </button>
                                </div>
                            </div>

                        </div>
                        <!-- Post Main Image -->
                        <!--<div class="form-group">
                            <label>الصورة الرئيسية:</label>
                            <input type="text" name="post_img" ng-model="confr.cimg" class="form-control">
                            <img src="{{confr.cimg}}" class="img-responsive" />
                        </div>-->
                    </uib-tab>
                    <uib-tab index="6" heading="ملفات المؤتمر">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default" style="margin-top:20px;">
                                    <div class="panel-heading">الرجاء إختيار ملف تسجيل المؤتمر</div>
                                    <div class="panel-body">
                                        <select ng-model="selfiles" ng-change="checkselection(selfiles)"
                                                ng-options="x as x.filedesc for x in selectConfFiles">
                                            <option value="">Select Account</option>
                                        </select>
                                        <h4>وصف الملف: {{selfiles.filedesc}}</h4>
                                        <input type="text" name="crfile" ng-model="confr.crfile" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default" style="margin-top:20px;">
                                    <div class="panel-heading">الرجاء إختيار الملف</div>
                                    <div class="panel-body">
                                        <select ng-model="selfiles2" ng-change="checkselection2(selfiles2)"
                                                ng-options="x as x.filedesc for x in selectConfFiles">
                                            <option value="">Select Account</option>
                                        </select>
                                        <h4>وصف الملف: {{selfiles2.filedesc}}</h4>
                                        <input type="text" id="cfile" name="cfile" ng-model="confr.cfile" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </uib-tab>
                </uib-tabset>
                <div class="form-group" style="margin-top:20px;">
                    <!-- SUBMIT BUTTON -->
                    <!--here we disabled the submit button. We only want it disabled if our form is $invalid.-->
                    <button type="submit" class="btn btn-primary" ng-disabled="confForm.$invalid">إرسال</button>
                    <!--<input type="button" id="btnSave" class="form-control btn-space" value="Submit" ng-click="InsertData()" />*-->
                </div>
            </form>

        </div>
        <!--------------------------------------------------------------------------------------------------------------------------------------------------------->
        <!--List of conferences------------------------------------------------------------------------------------------------------------------------------------>
        <!--------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="col-md-3 pst-lst">
            <div>
                <button class="btn btn-default" ng-click="clearForNewCon()">إنشاءمؤتمر جديد</button><br />
                <span>إجمالي عدد الؤتمرات</span><span class="badge" style="background-color:#19a6d1;margin-right:10px;color:#fff;font-weight:bold;">{{tCon}}</span>
                <form class="form-inline">
                    <div class="form-group" style="margin-bottom:5px;margin-right:5px;">
                        <input type="text" ng-model="search" class="form-control" placeholder="بحث">
                    </div>
                </form>
                <table class="table table-condensed">
                    <tr>
                        <th></th>
                        <th ng-click="sort('cTitle')">
                            عنوان المقالة
                            <span class="glyphicon sort-icon" ng-show="sortKey=='cTitle'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                    </tr>
                    <tr dir-paginate="lstconfr in conferences |orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                        <td style="width:80px;">
                            <span ng-click="delCon(lstconfr)" class="btnRed"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                            <span ng-click="editCon(lstconfr)" class="btnAdd"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                        </td>
                        <td>
                            {{lstconfr.cTitle}}
                        </td>
                        <!--<td>
                            {{conf.cdate | dateFilter | date:"dd/MM/yyyy"}}
                        </td>-->
                    </tr>
                </table>
                <dir-pagination-controls max-size="10"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
        <!--<div ng-view>
        </div>-->
    </div>
    
</div>
