<style>
    .thumb {
        width: 60px;
        height: 60px;
        float: none;
        position: relative;
        top: 7px;
        padding: 10px;
    }

    form .progress {
        line-height: 15px;
    }
</style>
<div ng-controller="uploadFileCtrl">
    <div class="row" style="padding:10px;margin-top:40px;">
        <div class="col-md-6" style="padding:10px;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <tr style="border-top:2px solid red;border-bottom:2px solid red;">
                            <th style="text-align:right;">م</th>
                            <th style="text-align:right;">أسم الملف</th>
                            <th style="text-align:right;">وصف الملف</th>
                            <th style="text-align:right;"></th>
                            <th style="text-align:right;"></th>
                        </tr>
                        <tr ng-repeat="fs in allFiles">
                            <td>{{$index +1}}</td>
                            <td>{{fs.filename}}</td>
                            <td>{{fs.filedesc}}</td>
                            <td><span ng-click="delFile(fs.fId)" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></span></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding:10px;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="myForm">
                        <table class="">
                            <tr>
                                <td colspan="1">
                                    <span style="font-size:24px;font-weight:bold;color:red;">
                                        رفع ملف تفاصيل المؤتمر
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        أسم الملف:
                                    </label>
                                </td>
                                <td>
                                    <input type="text" name="userName" ng-model="username" size="31" required>
                                    <i ng-show="myForm.userName.$error.required">*required</i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="file" ngf-select ng-model="picFile" name="file"
                                           accept="image/*" ngf-max-size="3MB" required
                                           ngf-model-invalid="errorFile">
                                </td>
                                <td>
                                    <i ng-show="myForm.file.$error.required" style="color:red">*required</i><br>
                                    <i ng-show="myForm.file.$error.maxSize" style="color:red;">
                                        File too large
                                        {{errorFile.size / 1000000|number:1}}MB: max 3M
                                    </i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
                                    <button ng-click="picFile = null" ng-show="picFile" class="btn btn-danger">حذف</button>
                                </td>
                                <td>
                                    <button ng-click="uploadPic(picFile)" class="btn btn-default">
                                        رفع الملف
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="progress" ng-show="picFile.progress >= 0">
                                        <div style="width:{{picFile.progress}}%"
                                             ng-bind="picFile.progress + '%'"></div>
                                    </span>
                                </td>
                                <td>
                                    <span ng-show="picFile.result">Upload Successful</span>
                                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                                </td>
                            </tr>
                        </table>
                        </form>
</div>
            </div>
        </div>

    </div>
</div>


