@{
    ViewBag.Title = "About";
    Layout = "";
}
<h2>{{about}}</h2>
<h3>@ViewBag.Message</h3>
<div>
    <p>Use this area to provide additional information.</p>
    <div>
        {{5+6}}
    </div>
    </div>
