<!--
        Slider start
        ============================== -->

@{Html.RenderPartial("slider");}
@*<div ng-include="'Home/slider'"></div>*@
<!-- slider close -->
<!--
about-us start
============================== -->
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="~/Content/images/cooker-img.png" alt="cooker-img">
                    <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                        <span>د.علي سهيل تبوك</span> </br>  المدير التنفيذي <span></span>
                    </h1>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">

                        متخصصون في الدراسات و البحوث و المؤتمرات و الندوات العلمية و الدولية و الحملات التوعوية ” ، هكذا يعرف مركز الشرق الأوسط للاستشارات و الدراسات الاجتماعية نفسه باختصار في مواقع التواصل الاجتماعي ، المركز الذي أنشئ في يونيو 2012 ليتخذ من ” الإسهام في تأسيس مجتمع المعرفة عن طريق تبني إجراء مشروعات البحوث والدراسات الاجتماعية والتنموية” جزءا من رؤيته و ” أن يكون مصدر إشعاع معرفي وتنويري للمجتمع العماني لتقديم الاستشارات والدراسات بهدف تقديم حلول عملية لتنمية المجتمع من خلال بحوث علمية منهجية
                    </p>
                    @*<a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" ui-sref="about" role="button">مزيد من المعلومات</a>*@
                    <a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" ui-sref="about" role="button">مزيد من المعلومات</a>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #call-to-action close -->
<!--
blog start
============================ -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading">دليل <span>الندوات</span> و <span>المؤتمرات</span></h1>
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                            <div class="blog-img">
                                <img src="~/Content/images/blog/blog-img-1.jpg" alt="blog-img">
                            </div>
                            <div class="content-right">
                                <h3>Homestyle Chicken Pot Pie</h3>
                                <p>Prepared in true New England fash-ion. Tender all-white meat chicken simmered...</p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="400ms">
                            <div class="blog-img">
                                <img src="~/Content/images/blog/blog-img-2.jpg" alt="blog-img">
                            </div>
                            <div class="content-right">
                                <h3>Homestyle Chicken Pot Pie</h3>
                                <p>Prepared in true New England fash-ion. Tender all-white meat chicken simmered...</p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="500ms">
                            <div class="content-left">
                                <h3>Homestyle Chicken Pot Pie</h3>
                                <p>Prepared in true New England fash-ion. Tender all-white meat chicken simmered...</p>
                            </div>
                            <div class="blog-img-2">
                                <img src="~/Content/images/blog/blog-img-3.jpg" alt="blog-img">
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="600ms">
                            <div class="content-left">
                                <h3>Homestyle Chicken Pot Pie</h3>
                                <p>Prepared in true New England fash-ion. Tender all-white meat chicken simmered...</p>
                            </div>
                            <div class="blog-img-2">
                                <img src="~/Content/images/blog/blog-img-4.jpg" alt="blog-img">
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="700ms">
                            <div class="blog-img">
                                <img src="~/Content/images/blog/blog-img-5.jpg" alt="blog-img">
                            </div>
                            <div class="content-right">
                                <h3>Homestyle Chicken Pot Pie</h3>
                                <p>Prepared in true New England fash-ion. Tender all-white meat chicken simmered...</p>
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="800ms">
                            <div class="blog-img">
                                <img src="~/Content/images/blog/blog-img-6.jpg" alt="blog-img">
                            </div>
                            <div class="content-right">
                                <h3>Homestyle Chicken Pot Pie</h3>
                                <p>Prepared in true New England fash-ion. Tender all-white meat chicken simmered...</p>
                            </div>
                        </li>
                    </ul>
                    <a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">مزيد من المعلومات</a>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #blog close -->
<!--
price start
============================ -->
@{Html.RenderAction("newsList", "Home");} 
<!-- #price close -->
<!--
subscribe start
============================ -->
<section id="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms"> إشترك <span>في</span>القائمة الأخبارية</h1>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        تأسيس مجتمع المعرفة عن طريق تبني إجراء مشروعات البحوث والدراسات الاجتماعية والتنموية
                    </p>
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Enter your email to subscribe...">
                                <div class="input-group-addon">
                                    <button class="btn btn-default" type="submit">subscribe</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #subscribe close -->
<!--
CONTACT US  start
============================= -->
<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms"> <span>إتصل بنا</span></h1>
                    @*<h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Sign Up for <span>Email Alerts</span> </h3>*@
                    <form>
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Write your full name here...">
                        </div>
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                            <input type="text" class="form-control" placeholder="Write your email address here...">
                        </div>
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                            <textarea class="form-control" rows="3" placeholder="Write your message here..."></textarea>
                        </div>
                    </form>
                    <a class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms" href="#" role="button">إرسال الرسالة</a>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- #contact-us close -->
