
@{
    Layout = null;
}

<section id="price">
    <div class="container">
        <div class="row" >
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">قائمة<span>أخبار</span>  <span>الموقع</span></h1>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        متخصصون في الدراسات و البحوث و المؤتمرات و الندوات العلمية و الدولية و الحملات التوعوية
                    </p>
                    <div class="pricing-list">
                        <div class="title">
                            <h3>القائمة <span>الرئيسية</span></h3>
                        </div>
                        <ul>
                            <li ng-repeat="ns in lstNewsHome" class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms" >
                                <div class="item">
                                    <div class="item-title">
                                        <h2>{{ns.post_title}}</h2>
                                        <div class="border-bottom"></div>
                                        <span>18-19 إبريل 2017</span>
                                    </div>
                                    <p>
                                        ضمن  فعاليات الحملة الوطنية للحماية من الإبتزار الإلكتروني " معاً ضد الإبتزار الإلكتروني"  م
                                    </p>
                                </div>
                            </ling-repeat="ns>
                            @*<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>حملة أحذر تأمن</h2>
                                        <div class="border-bottom"></div>
                                        <span>10 إبريل 2017</span>
                                    </div>
                                    <p>
                                        تدشين  حملة وعي بأمن المعلومات الذي تنفذها قسم تقنية المعلومات بمحافظة الوسطى التعليمية تحت شعار
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>الحملة الوطنية للحماية من الإبتزار الإلكتروني</h2>
                                        <div class="border-bottom"></div>
                                        <span>10 إبريل 2017</span>
                                    </div>
                                    <p>
                                        برنامج الحملة الوطنية للحماية من الابتزاز الإلكتروني في مرحلتها قبل الأخيرة بولاية هيماء
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>الحملة الوطنية للحماية من الإبتزار الإلكتروني</h2>
                                        <div class="border-bottom"></div>
                                        <span>10 إبريل 2017</span>
                                    </div>
                                    <p>
                                        تستكمل الحملة الوطنية للحماية من الابتزاز الإلكتروني مسيرتها في محافظة الوسطى بولاية هيماء .
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="700ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>الحملة الوطنية للحماية من الإبتزار الإلكتروني</h2>
                                        <div class="border-bottom"></div>
                                        <span>5 إبريل 2017</span>
                                    </div>
                                    <p>
                                        شكرا بكل الكلمات لإدارة مدرسة البندر الجديد على حفاوة الضيافة والاستقبال لتقديم محاضرات حول الابتزاز الإلكتروني في ولاية جعلان بني بو علي
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="800ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>الخصوصية في هاتفك لحمايتك وحماية بياناتك ومعلوماتك</h2>
                                        <div class="border-bottom"></div>
                                        <span>7 مارس 2017</span>
                                    </div>
                                    <p>
                                        من المهم ضبط إعدادات الخصوصية في هاتفك لحمايتك وحماية بياناتك ومعلوماتك عند استخدامك لوسائل الإعلام الإجتماعي
                                    </p>
                                </div>
                            </li>*@
                        </ul>
                        <a class="btn btn-default pull-right wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">المزيد من المعلومات</a>
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section>