
@{
    Layout = null;
}

<section id="slider">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="https://conference.squ.edu.om/Portals/60/images/updated2-banner-A.png" style="width:1200px; height:350px;margin-bottom:20px;border-bottom:1px solid #808080;" class="img-responsive" />
        </div>
    </div>
        <div class="row" style="direction: ltr;">
            <div class="col-md-12">
                <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="title">                
                        <h3>الندوات <span>و المؤتمرات</span></h3>
                    </div>
                    <div id="owl-example" class="owl-carousel">
                        <div>
                            <img class="img-responsive" src="~/Content/images/slider/slider-img-1.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="~/Content/images/slider/slider-img-2.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="~/Content/images/slider/slider-img-3.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="~/Content/images/slider/slider-img-4.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="~/Content/images/slider/slider-img-1.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="~/Content/images/slider/slider-img-2.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="~/Content/images/slider/slider-img-3.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="~/Content/images/slider/slider-img-4.jpg" alt="">
                        </div>

                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- slider close -->
