
<!--<script src="~/Scripts/ui-bootstrap-tpls-0.13.0.min.js"></script>-->
<!--
      Slider start
      ============================== -->
<style>
    .cbtn-more-info {
        background: #ff530a none repeat scroll 0 0;
        border: 1px solid transparent;
        border-radius: 0;
        color: #fff;
        float: right;
        font-size: 16px;
        font-weight: 500;
        padding: 12px 102.5px;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
    }
</style>
<!--Header starts-->
<ng-include src="'/SPA/client/public/views/partials/header.html'"></ng-include>
<!-- Header ends -->
<!-- slider Starts-->
<ng-include src="'/SPA/client/public/views/partials/sliderF.html'"></ng-include>
<!--<ng-include src="'/SPA/client/public/views/partials/carousel.html'"></ng-include>-->
<!-- slider close -->

<!--
    about-us start -->
<ng-include src="'/SPA/client/public/views/partials/aboutSection.html'"></ng-include>
<!-- about-us close close -->

<!--
blog start-->
<ng-include src="'/SPA/client/public/views/partials/blogSection.html'"></ng-include>
<!-- #blog close -->
<!--
price start -->
<ng-include src="'/SPA/client/public/views/partials/newsSection.html'"></ng-include>

<!-- #price close -->
<!--
subscribe start -->

<!-- #subscribe close -->
<!--
CONTACT US  start -->
<ng-include src="'/SPA/client/public/views/partials/contactSection.html'"></ng-include>
<!-- #contact-us close -->

<!--Footer starts-->
<ng-include src="'/SPA/client/public/views/partials/footer.html'"></ng-include>
<!--Footer ends-->