
<div class="container" >
    <div class="row">
        <div class="col-md-8">
            <div>
                <div class="block">
                    <h2 class="heading">
                        <span>
                            {{showArts.post_title}}
                            <!--الحملة الوطنية لمخاطر تقنية المعلومات-->
                        </span>

                    </h2>
                    <div ng-bind-html="trustAsHtml(showArts.post_data)"></div>
                    <!--<div ng-bind-html="showArts.post_data"></div>-->
                    <!--{{showArts.post_data"}}-->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="{{showArts.post_img}}" class="img-responsive" style="height:200px;" />
            <!--<img src="../../../../Content/images/photo/p2.JPG" class="img-responsive" style="height:200px;" />-->
            <!--<img src="../../../../Content/images/photo/p3.JPG" class="img-responsive" style="height:200px;" />-->
        </div>
    </div>
</div>
