<!DOCTYPE html>
<html lang="ar-om" dir="rtl">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!--CSS-->
    <!--Bootstrap-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <!-- Font-awesome.min css -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/Content/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <!--Jquery-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- Owl Carsousle -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!--angular library-->
    <script src="~/Scripts/angular.js"></script>
    @*<script src="~/Scripts/angular-route.min.js"></script>*@
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <!--customer javascript-->
    <script src="~/SPA/client/myApp.js"></script>
    <script src="~/SPA/client/homeController.js"></script>
    <script src="~/SPA/client/articleController.js"></script>

    <!-- Js -->
    <script src="Content/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="~/Content/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="~/Content/js/jquery.nav.js"></script>
    <script src="~/Content/js/jquery.sticky.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/wow.min.js"></script>
    <script src="~/Content/js/main.js"></script>

</head>
<body ng-app="mainApp">
    <!--
    header-img start
    ============================== -->
    <section id="hero-area">
        <img class="img-responsive" src="~/Content/images/header2.jpg" alt="">
    </section>
    <!--
    Header start
    ============================== -->
    @{Html.RenderPartial("siteNav");}
    <!-- header close -->

    <div>
        @RenderBody()
    </div>



    <!--
    footer  start
    ============================= -->
    @{Html.RenderPartial("siteFooter");}


    @RenderSection("scripts", required: false)
</body>
</html>
