body {
}



/*********************************************************************************************************************/
/* Article operatios*/
/*********************************************************************************************************************/
.art-add-data{
    background-color:#C5D5CB;
    border:1px solid #9FA8A3;
  padding:10px;
}

.art-post-lst{
    background-color:#E9ECE5;
    border:1px solid #9FA8A3;
  padding:10px;
}


/*********************************************************************************************************************/
/* post operatios*/
/*********************************************************************************************************************/
.pst-add-pst{
    background-color:#C5D5CB;
    border:1px solid #9FA8A3;
  padding:10px;
}

.pst-lst{
    background-color:#E9ECE5;
    border:1px solid #9FA8A3;
  padding:10px;
}