<section id="confInfo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <img ng-src="{{conInfo.cimg}}" style="margin:auto; max-height:391px; width:100%;">
                    <div class="col-md-2">
                        <table>
                            <tr>
                                <td>
                                    <a href="../../../../../download/conf.pdf">
                                        <img src="../../../../../Content/images/pdf-library-rc.jpg" />
                                    </a>
                                </td>
                                <td>
                                    <a href="../../../../../download/conf.pdf">
                                        ملف المؤتمر
                                    </a>

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-10">
                        <h2 style="margin-top:40px; background-color:#EDE9EA;height:50px; padding:5px;"><span style="color:#000;">عنوان المؤتمر :{{conInfo.cTitle}}</span></h2>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                           <ul>
                               <li><a ng-click="gotoIntro()">المقدمة</a></li>
                               <li><a ng-click="gotoGuides()">المحاور</a></li>
                               <li><a ng-click="gotoAud()">المستهدفون من المؤتمر</a></li>
                               <li><a href=""></a></li>
                           </ul>
                        </div>
                    </div>


                    <p style="font-size:12px;font-weight:bold;color:#ccc;">
                        <!--<span>التاريخ:</span>
                        <span>{{conInfo.cdate | dateFilter | date:"dd/MM/yyyy"}}</span>-->
                    </p>
                    <a id="Guides"></a>
                    <div ng-bind-html="trustAsHtml(conInfo.cmessage)"></div>
                    <a id="Intro"></a>
                    <div ng-bind-html="trustAsHtml(conInfo.cdetails)"></div>
                    <a id="Aud"></a>
                    <div ng-bind-html="trustAsHtml(conInfo.cvision)"></div>
                </div>
            </div>
        </div>
    </div>
</section>