
<script src="../../../../../Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

<style>
    #conf-list {
        margin: 0;
        padding: 0;
    }

        #conf-list li {
            display: inline-block;
            padding: 0 20px;
            border-left: 1px solid #888;
            font-size: 16px;
            font-weight: bold;
            background-color: #ccc;
            line-height: 40px;
        }

    .nav-tabs > li > a {
        border: 1px solid #888 !important;
        color: #222;
    }

    .nav-tabs > li.active > a {
        border-bottom: 1px solid #fff !important;
        color: #888 !important;
    }

    .nav-tabs > li > a:hover {
        border: 1px solid #ccc;
    }

    .nav-tabs > li {
        /*float: right;*/
    }

    .uib-tab a {
        background-color: #c1c1c1;
    }

    .tab-content {
        background-color: #fff;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

    .topBanner {
        height: 150px;
        background-color: #277cc0;
        background-image: url("../../../../../Content/images/sitePattern.png");
    }

    .siteTitle {
        border: 1px solid #1d69a6;
        padding: 10px;
        background-color: #fff;
        width: 620px;
        top: 50%;
        left: 50%;
        position: absolute;
        margin-top: 10px;
        margin-left: -350px;
    }

        .siteTitle img {
            width: 600px;
        }

    .navbar-inverse {
        background-color: #277cc0;
        border-color: #ccc;
    }

    .navbar {
        border-radius: 0;
    }

    .nav > li > a {
        color: #fff !important;
        font-weight: bold;
        font-size: 16px;
    }

        .nav > li > a:hover {
            color: #999 !important;
        }

    .bottomBanner {
        margin-top: 40px;
        padding-top: 20px;
        color: #fff;
        font-weight: bold;
        height: 150px;
        background-color: #277cc0;
        background-image: url("../../../../../Content/images/sitePattern.png");
    }

        .bottomBanner img {
            width: 50px;
            height: 50px;
        }

        .bottomBanner img {
            width: 100px;
        }

    .sitebLogo {
        border: 1px solid #1d69a6;
        padding: 10px;
        background-color: #fff;
        width: 120px;
        top: 50%;
        position: absolute;
        margin-top: 10px;
        margin-left: -350px;
    }
</style>
<section id="confInfo" style="background:#f1f1f1;">
    <div class="topBanner">
        <div class="row">
            <div class="col-md-12">
                <div class="siteTitle">
                    <img src="../../../../../Content/images/Website 1.png" />
                </div>

            </div>
        </div>
    </div>
    <div class="topMenu">
        <nav role="navigation" class="navbar navbar-inverse">
            <div class="container">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ui-sref="home">Home Page</a>
                        <!--<li><a href="aboutus">إتصل بنا</a>
                        <li><a class="active" href="products">الصفحة الرئيسية</a>-->
                </ul>
            </div>

        </nav>
    </div>
    <div class="container" style="background:#fff; margin-top:-30px;padding:20px 0;">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <img ng-src="{{conInfoEn.cimg}}" style="margin:auto; max-height:391px; width:100%;">
                    <div class="row">
                        <div class="col-md-4">
                            <table>
                                <tr>
                                    <td style="text-align:center;">
                                        <div ng-if="conInfoEn.cfileEn">
                                            <table>
                                                <tr>
                                                    <td><a href="../../../../../UploadedFiles/conf/{{conInfoEn.cfileEn}}" target="_blank">Conference file</a></td>
                                                    <td><img src="../../../../../Content/images/pdf-library-rc.jpg" style="width:50px;" /></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td style="text-align:center;">
                                        <div ng-if="conInfoEn.crfileEn">
                                            <table>
                                                <tr>
                                                    <td><a href="../../../../../UploadedFiles/conf/{{conInfoEn.crfileEn}}" target="_blank"> Conference Registration</a></td>
                                                    <td><img src="../../../../../Content/images/pdf-library-rc.jpg" style="width:50px;" /></td>
                                                 
                                                </tr>
                                                <tr>
                                                    <td><a href="../../../../../UploadedFiles/conf/e_ agenda_e.pdf" target="_blank"> Electronic Payments Salalah Agenda</a></td>
                                                    <td><img src="../../../../../Content/images/pdf-library-rc.jpg" style="width:50px;" /></td>
                                                    
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-10">
                            <!--<h2 style="margin-top:40px; background-color:#EDE9EA;height:50px; padding:5px;"><span style="color:#000;">عنوان المؤتمر :{{conInfoEn.cTitle}}</span></h2>-->
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <uib-tabset active="activeForm">
                                <uib-tab index="0" heading="Introduction">
                                    <div style="padding:20px;">
                                        <div ng-bind-html="trustAsHtml(conInfoEn.cdetails)"></div>
                                    </div>

                                </uib-tab>
                                <uib-tab index="1" heading="GuidLines">
                                    <div style="padding:20px;">
                                        <div ng-bind-html="trustAsHtml(conInfoEn.cguidelines)"></div>
                                    </div>
                                </uib-tab>
                                <uib-tab index="2" heading="Register">
                                    <div style="padding:20px;">
                                        <div ng-bind-html="trustAsHtml(conInfoEn.cmessage)"></div>
                                    </div>
                                </uib-tab>
                                <uib-tab index="3" heading="Organizers">
                                    <div style="padding:20px;">
                                        <div ng-bind-html="trustAsHtml(conInfoEn.corgnizer)"></div>
                                    </div>
                                </uib-tab>
                                <uib-tab index="4" heading="Facilities">

                                    <div style="padding:20px;">
                                        <div ng-bind-html="trustAsHtml(conInfoEn.cfacilities)"></div>
                                    </div>

                                </uib-tab>

                                <uib-tab heading="عربي" ng-click="go(conInfoEn.ftype)"></uib-tab>


                                <!--<uib-tab index="6" heading="English">
                                    <div style="padding:20px;">
                                        <div ng-bind-html="trustAsHtml(conInfoEn.cguidelines)"></div>
                                    </div>
                                </uib-tab>-->
                            </uib-tabset>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="bottomBanner">
        <div class="row">
            <div id="bottomWrapper" class="container " style="background-color:#277CC0; border:1px solid #ccc;">
                <div class="col-md-9">
                    <table class="ftable">
                        <tr>
                            <td style="text-align:left">info@mecoman.net</td>
                            <td style="text-align:left">E-mail</td>

                        </tr>
                        <tr>
                            <td style="text-align:left">
                                Fax\0096823320002 <!--٠٠٩٦٨٢٣٣٢٠٠٠٢-->
                                <br />
                                Tel. \0096823320000<!--٠٠٩٦٨٢٣٣٢٠٠٠٠-->
                            </td>
                            <td style="text-align:left">Tel. Numbers</td>

                        </tr>
                        <tr>
                            <td style="text-align:left">
                                Nahda Center - Sada - Second Foor - Flat No. 230
                                <!--مبنى النهضة سنتر - السعادة - الدور الثاني - شقة ٢٣٠-->
                                <br />
                                Dhofar Region- Sultanate of Oman - Salalah
                                <!--محافظة ظفار-  سلطنه عمان- صلالة-->
                            </td>
                            <td style="text-align:left">
                                Address
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="col-md-3">
                    <div class="sitebLogo">
                        <img src="../../../../../Content/images/siteLogo.png" class="img-responsive" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
