
<div class="container" >
    <div class="row">
        <div class="col-md-8">
            <div>
                <div class="block">
                    <h2 class="heading">
                        <span>
                            {{showArts.post_title}}
                            <!--الحملة الوطنية لمخاطر تقنية المعلومات-->
                        </span>

                    </h2>
                    <p style="font-size:9px;font-weight:bold;color:#ccc;">
                        <span>التاريخ:</span>
                        <span>{{showArts.post_adate | dateFilter | date:"dd/MM/yyyy"}}</span>
                    </p>
                    
                    <div ng-bind-html="trustAsHtml(showArts.post_data)"></div>
                    <!--<div ng-bind-html="showArts.post_data"></div>-->
                    <!--{{showArts.post_data"}}-->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <figure>
                <img src="{{showArts.post_img}}" class="img-responsive" style="height:200px;" />
                <figcaption style="font-size:10px;font-weight:bold;font-style:italic;color:#888;">{{showArts.post_img_title}}</figcaption>
            </figure>
            <!--<img src="{{showArts.post_img}}" class="img-responsive" style="height:200px;" />
            <p>
                <span>{{showArts.post_img_title}}</span>
            </p>-->
            <!--<img src="../../../../Content/images/photo/p2.JPG" class="img-responsive" style="height:200px;" />-->
            <!--<img src="../../../../Content/images/photo/p3.JPG" class="img-responsive" style="height:200px;" />-->
        </div>
    </div>
</div>
