<style>
    .topBanner {
        height: 150px;
        background-color: #277cc0;
        background-image: url("../../../../../Content/images/sitePattern.png");
    }

    .siteTitle {
        border: 1px solid #1d69a6;
        padding: 10px;
        background-color: #fff;
        width: 620px;
        top: 50%;
        left: 50%;
        position: absolute;
        margin-top: 10px;
        margin-left: -350px;
    }

        .siteTitle img {
            width: 600px;
        }

    .navbar-inverse {
        background-color: #277cc0;
        border-color: #ccc;
    }

    .navbar {
        border-radius: 0;
    }

    .nav > li > a {
        color: #fff !important;
        font-weight: bold;
        font-size: 16px;
    }

        .nav > li > a:hover {
            color: #999 !important;
        }

    .bottomBanner {
        margin-top: 40px;
        padding-top: 20px;
        color: #fff;
        font-weight: bold;
        height: 150px !important;
        background-color: #277cc0 !important;
        background-image: url("../../../../../Content/images/sitePattern.png");
    }

        .bottomBanner img {
            width: 50px;
            height: 50px;
        }

        .bottomBanner img {
            width: 100px;
        }

    .sitebLogo {
        border: 1px solid #1d69a6;
        padding: 10px;
        background-color: #fff;
        width: 120px;
        top: 50%;
        position: absolute;
        margin-top: 10px;
        margin-left: -350px;
    }
    .bottomBanner {
        /*position: absolute;
        bottom: 0;
        width: 100%;*/
        /* Set the fixed height of the footer here */
        /*height: 60px;
        background-color: #f5f5f5;*/
    }
</style>

<div class="topBanner">
    <div class="row">
        <div class="col-md-12">
            <div class="siteTitle">
                <img src="../../../../../Content/images/Website 1.png" />
            </div>

        </div>
    </div>
</div>
<div class="topMenu">
    <nav role="navigation" class="navbar navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ui-sref="home">الصفحة الرئيسية</a>
                    <!--<li><a href="aboutus">إتصل بنا</a>
                    <li><a class="active" href="products">الصفحة الرئيسية</a>-->
            </ul>
        </div>

    </nav>
</div>
<div class="container" >
    <div class="row" style="margin-bottom:40px;">
        <div class="col-md-8">
            <div>
                <div class="block">
                    <h2 class="heading">
                        <span>
                            {{showArts.post_title}}
                            <!--الحملة الوطنية لمخاطر تقنية المعلومات-->
                        </span>

                    </h2>
                    <p style="font-size:9px;font-weight:bold;color:#ccc;">
                        <span>التاريخ:</span>
                        <span>{{showArts.post_adate | dateFilter | date:"dd/MM/yyyy"}}</span>
                    </p>
                    
                    <div ng-bind-html="trustAsHtml(showArts.post_data)"></div>
                    <!--<div ng-bind-html="showArts.post_data"></div>-->
                    <!--{{showArts.post_data"}}-->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <figure>
                <img src="{{showArts.post_img}}" class="img-responsive" style="height:200px;" />
                <figcaption style="font-size:10px;font-weight:bold;font-style:italic;color:#888;">{{showArts.post_img_title}}</figcaption>
            </figure>
            <!--<img src="{{showArts.post_img}}" class="img-responsive" style="height:200px;" />
            <p>
                <span>{{showArts.post_img_title}}</span>
            </p>-->
            <!--<img src="../../../../Content/images/photo/p2.JPG" class="img-responsive" style="height:200px;" />-->
            <!--<img src="../../../../Content/images/photo/p3.JPG" class="img-responsive" style="height:200px;" />-->
        </div>
    </div>
</div>
<div class="bottomBanner navbar-fixed-bottom " style="position:relative;text-align:center">
    <div class="row">
        <div id="bottomWrapper" class="container" style="background-color:#277CC0; border:1px solid #ccc;">
            <div class="col-md-9">
                <table class="ftable">
                    <tr>
                        <td style="text-align:left">البريد الألكتروني</td>
                        <td>info@mecoman.net</td>
                    </tr>
                    <tr>
                        <td style="text-align:left">أرقام الهواتف</td>
                        <td>
                            الفاكس\ ٠٠٩٦٨٢٣٣٢٠٠٠٢
                            <br />
                            الهاتف \٠٠٩٦٨٢٣٣٢٠٠٠٠
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">
                            العنوان
                        </td>
                        <td>
                            مبنى النهضة سنتر - السعادة - الدور الثاني - شقة ٢٣٠
                            <br />
                            محافظة ظفار-  سلطنه عمان- صلالة
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-3">
                <div class="sitebLogo">
                    <img src="../../../../../Content/images/siteLogo.png" class="img-responsive" />
                </div>

            </div>
        </div>
    </div>
</div>