
@{
    ViewBag.Title = "ngUploadImg";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<style>
    body {
        font-family: 'Roboto', sans-serif !important;
    }

    .dropzone {
        width: 700px;
        min-height: 250px;
        margin: 10px auto;
    }

    #dropzone3 {
        display: none;
    }
</style>


<h2>ngUploadImg</h2>

<!-- Dropzone 1 -->
<div ng-controller="drop1Controller">
    <div id="dropzone1" class="dropzone" options="dzOptions" callbacks="dzCallbacks" ng-dropzone></div>
</div>


@section Scripts{

}